@use '../abstracts/mixins' as *;

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: "open-sans", sans-serif;
}

.welcome {
    font-family: "AudioWide" !important;
}