@font-face {
    font-family: "WorkBench";
    src: url("../../src/assets/fonts/Workbench/Workbench-Regular-VariableFont_BLED\,SCAN.ttf") format("truetype");
    src: url("../../src/assets/fonts/Workbench/Workbench-Regular-VariableFont_BLEDSCAN.eot") format("eot");
    src: url("../../src/assets/fonts/Workbench/Workbench-Regular-VariableFont_BLEDSCAN.otf") format("otf");
    src: url("../../src/assets/fonts/Workbench/Workbench-Regular-VariableFont_BLEDSCAN.woff") format("woff");

    font-style: normal;
}

@font-face {
    font-family: "AudioWide";
    src: url("../../src/assets/fonts/Audiowide/Audiowide-Regular.eot") format("eot");
    src: url("../../src/assets/fonts/Audiowide/Audiowide-Regular.otf") format("otf");
    src: url("../../src/assets/fonts/Audiowide/Audiowide-Regular.ttf") format("truetype");
    src: url("../../src/assets/fonts/Audiowide/Audiowide-Regular.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "Edu";
    src: url("../../src/assets/fonts/Edu_QLD_Hand/EduQLDHand-VariableFont_wght.otf") format("otf");
    src: url("../../src/assets/fonts/Edu_QLD_Hand/EduQLDHand-VariableFont_wght.ttf") format("truetype");
    src: url("../../src/assets/fonts/Edu_QLD_Hand/EduQLDHand-VariableFont_wght.eot") format("eot");
    src: url("../../src/assets/fonts/Edu_QLD_Hand/EduQLDHand-VariableFont_wght.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "Fascinate";
    src: url("../../src/assets/fonts/Fascinate_Inline/FascinateInline-Regular.eot") format("eot");
    src: url("../../src/assets/fonts/Fascinate_Inline/FascinateInline-Regular.otf") format("otf");
    src: url("../../src/assets/fonts/Fascinate_Inline/FascinateInline-Regular.ttf") format("truetype");
    src: url("../../src/assets/fonts/Fascinate_Inline/FascinateInline-Regular.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "Lime";
    src: url("../../src/assets/fonts/Limelight/Limelight-Regular.eot") format("eot");
    src: url("../../src/assets/fonts/Limelight/Limelight-Regular.otf") format("otf");
    src: url("../../src/assets/fonts/Limelight/Limelight-Regular.ttf") format("truetype");
    src: url("../../src/assets/fonts/Limelight/Limelight-Regular.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "noto";
    src: url("../../src/assets/fonts/Noto_Sans_Telugu/noto-sans.ttf") format("truetype");
    src: url("../../src/assets/fonts/Noto_Sans_Telugu/noto-sans.otf") format("otf");
    src: url("../../src/assets/fonts/Noto_Sans_Telugu/noto-sans.eot") format("eot");
    src: url("../../src/assets/fonts/Noto_Sans_Telugu/noto-sans.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "Monoton";
    src: url("../../src/assets/fonts/Monoton/Monoton-Regular.eot") format("eot");
    src: url("../../src/assets/fonts/Monoton/Monoton-Regular.eot") format("eot");
    src: url("../../src/assets/fonts/Monoton/Monoton-Regular.ttf") format("truetype");
    src: url("../../src/assets/fonts/Monoton/Monoton-Regular.woff") format("woff");
    src: url("../../src/assets/fonts/Monoton/Monoton-Regular.woff2") format("woff2");
    font-style: normal;
}

@font-face {
    font-family: "Caveat";
    src: url("../../src/assets/fonts/Caveat/Caveat-Regular.eot") format("eot");
    src: url("../../src/assets/fonts/Caveat/Caveat-Regular.ttf") format("truetype");
    src: url("../../src/assets/fonts/Caveat/Caveat-Regular.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "ComicNeue";
    src: url("../../src/assets/fonts/ComicNeue/ComicNeue-Regular.eot") format("eot");
    src: url("../../src/assets/fonts/ComicNeue/ComicNeue-Regular.ttf") format("truetype");
    src: url("../../src/assets/fonts/ComicNeue/ComicNeue-Regular.woff2") format("woff2");
    font-style: normal;
}

@font-face {
    font-family: "open-sans";
    src: url("../../src/assets/fonts/open-sans/OpenSans-Regular.eot") format("eot");
    src: url("../../src/assets/fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
    src: url("../../src/assets/fonts/open-sans/OpenSans-Regular.woff") format("woff");
    font-style: normal;

}

@font-face {
    font-family: "KottaOne";
    src: url("../../src/assets/fonts/KottaOne/KottaOne-Regular.eot") format("eot");
    src: url("../../src/assets/fonts/KottaOne/KottaOne-Regular.ttf") format("truetype");
    src: url("../../src/assets/fonts/KottaOne/KottaOne-Regular.woff2") format("woff2");
    font-style: normal;
}


// /////////////  NEW 3 FONTS 

@font-face {
    font-family: "Coiny";
    src: url("../../src/assets/fonts/demo/Coiny/Coiny-Regular.eot") format("eot");
    src: url("../../src/assets/fonts/demo/Coiny/Coiny-Regular.ttf") format("truetype");
    src: url("../../src/assets/fonts/demo/Coiny/Coiny-Regular.woff") format("woff");
    src: url("../../src/assets/fonts/demo/Coiny/Coiny-Regular.woff2") format("woff2");
    font-style: normal;
}

@font-face {
    font-family: "Courgette";
    src: url("../../src/assets/fonts/demo/Courgette/Courgette-Regular.eot") format("eot");
    src: url("../../src/assets/fonts/demo/Courgette/Courgette-Regular.ttf") format("truetype");
    src: url("../../src/assets/fonts/demo/Courgette/Courgette-Regular.woff") format("woff");
    src: url("../../src/assets/fonts/demo/Courgette/Courgette-Regular.woff2") format("woff2");
    font-style: normal;
}

@font-face {
    font-family: "HomemadeApple";
    src: url("../../src/assets/fonts/demo/Homemade_Apple/HomemadeApple-Regular.eot") format("eot");
    src: url("../../src/assets/fonts/demo/Homemade_Apple/HomemadeApple-Regular.ttf") format("truetype");
    src: url("../../src/assets/fonts/demo/Homemade_Apple/HomemadeApple-Regular.woff") format("woff");
    src: url("../../src/assets/fonts/demo/Homemade_Apple/HomemadeApple-Regular.woff2") format("woff2");
    font-style: normal;
}



@font-face {
    font-family: "Arizonia";
    src: url("../../src/assets/fonts/Arizonia/Arizonia-Regular.eot") format("eot");
    src: url("../../src/assets/fonts/Arizonia/Arizonia-Regular.ttf") format("truetype");
    src: url("../../src/assets/fonts/Arizonia/Arizonia-Regular.woff") format("woff");
    src: url("../../src/assets/fonts/Arizonia/Arizonia-Regular.woff2") format("woff2");
    font-style: normal;
}


@font-face {
    font-family: "Fantacy";
    src: url("../../src/assets/fonts/Oooh_Baby/OoohBaby-Regular.ttf") format("truetype");
    src: url("../../src/assets/fonts/Oooh_Baby/OoohBaby-Regular.eot") format("eot");
    src: url("../../src/assets/fonts/Oooh_Baby/OoohBaby-Regular.woff") format("woff");
    src: url("../../src/assets/fonts/Oooh_Baby/OoohBaby-Regular.woff2") format("woff2");
    font-style: normal;
}

@font-face {
    font-family: "SherlockHolmes";
    src: url("../../src/assets/fonts/GreatVibes/GreatVibes-Regular.eot") format("eot");
    src: url("../../src/assets/fonts/GreatVibes/GreatVibes-Regular.ttf") format("truetype");
    src: url("../../src/assets/fonts/GreatVibes/GreatVibes-Regular.woff") format("woff");
    src: url("../../src/assets/fonts/GreatVibes/GreatVibes-Regular.woff2") format("woff2");
    font-style: normal;
}