@import "tailwindcss";
@import "./../sass/base/_typography.scss";
@layer components {
    .input {
        @apply rounded-xs border border-neutral-300 bg-neutral-200 px-4 py-2 focus:border-neutral-400 focus:outline-0 md:px-6 md:py-3;
    }
    .font {
        font-family: "Edu";
    }
    .edu {
        font-family: "Edu";
    }
    .caveat {
        font-family: "Caveat";
    }
    .lime {
        font-family: "Lime";
    }
    .comic {
        font-family: "ComicNeue";
    }
    .online {
        width: 1.2rem;
        height: 1.2rem;
        position: absolute;
        background: rgb(14, 200, 14);
        border-radius: 50%;
        right: 1.2rem;
        top: 3.8rem;
        animation: online infinite 1s;
    }
}

@keyframes online {
    0% {
        opacity: 50%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 50%;
    }
}
